<%- include('../../partials/admin/top-bar') %> <%-
include('../../partials/admin/sidebar') %>

<main class="mt-5 pt-3" style="padding-right: 1.5rem">
    <div class="container-fluid">
        <!-- page heading starts  -->
        <div class="page-heading">
            <div class="row">
                <div class="
                d-sm-flex
                align-items-center
                justify-content-between
                mb-1
                mt-5
              ">
                    <h1 class="h3 mb-0 text-gray-800">
                        <i class="bi bi-pencil-fill me-2"></i>Edit Product
                    </h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Product
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- page heading ends  -->

        <!-- Update Product form starts -->
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="card">
                    <div class="card-body">
                        <%  if(product.length) { product.forEach((product)=>{ %>
                                <form action="/edit-product" method="post" id="product_form" enctype="multipart/form-data">
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="pro_id" class="form-control" type="hidden" value="<%= product._id %>" placeholder="Product ID" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="pro_name" class="form-control" type="text" placeholder="Product Name" value="<%= product.pro_name %>" required />
                                                    <label for="floatingInput">Product Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <textarea name="pro_desc" class="form-control" type="text" placeholder="Description" style="height: 100px" required><%= product.pro_desc %></textarea>
                                                    <label for="floatingInput">Description</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="pro_price" type="number" min="1" class="form-control" placeholder="Price" value="<%= product.pro_price %>" required />
                                                    <label for="floatingInput">Price</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <select class="form-select" size="4" aria-label="size 3 select example" name="pro_discount">
                                                    <option disabled>Coupon</option>
                                                    <% coupon.forEach(function(coupon){
                                                        if(JSON.stringify(product.discount) === JSON.stringify(coupon._id) ){
                                                            var selected = "selected"
                                                        } else {
                                                            var selected = ""
                                                        }
                                                         %>
                                                        <option  value = "<%= coupon._id %>" <%= selected %> ><%= coupon.coupon_name %></option>
                                                        
                                                        <% }) %>
                                                </select>
                                                <input type="hidden" name="old_discount" value="<?php echo $row['discount']; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <select class="form-select" size="4" aria-label="size 3 select example" name="pro_addon">
                                                <option disabled>Addons</option>
                                                <% addon.forEach(function(addon){
                                                    if(JSON.stringify(product.pro_addon) === JSON.stringify(addon._id) ){
                                                        var selected = "selected"
                                                    } else {
                                                        var selected = ""
                                                    }
                                                     %>
                                                    <option  value = "<%= addon._id %>" <%= selected %> ><%= addon.addon_name %></option>
                                                    
                                                    <% }) %>
                                            </select>
                                            <input type="hidden" name="old_addon" value="<?php echo $row['product_addons']; ?>">
                                        </div>
                                        <div class="col-sm-3 col-md-6">
                                            <select class="form-select" size="4" name="pro_attr">
                                                <option disabled>Attributes</option>
                                                <% attr.forEach(function(attr){
                                                    if(JSON.stringify(product.pro_attr) === JSON.stringify(attr._id) ){
                                                        var selected = "selected"
                                                    } else {
                                                        var selected = ""
                                                    }
                                                     %>
                                                    <option  value = "<%= attr._id %>" <%= selected %> ><%= attr.attr_name %></option>
                                                    
                                                    <% }) %>
                                            </select>
                                            <input type="hidden" name="old_attr" value="<?php echo $row['product_attr']; ?>">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <select class="form-select" size="4" aria-label="size 3 select example" name="pro_cat" required>
                                                    <option disabled>Category</option>
                                                    <% category.forEach(function(category){
                                                        if(JSON.stringify(product.pro_category) === JSON.stringify(category._id) ){
                                                            var selected = "selected"
                                                        } else {
                                                            var selected = ""
                                                        }
                                                         %>
                                                        <option  value = "<%= category._id %>" <%= selected %> ><%= category.cat_name %></option>
                                                        
                                                        <% }) %>
                                                </select>
                                                <input type="hidden" name="old_cat" value="<%= product.pro_category %>">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <label for="">Product Image <span style="color: red;">(500*250)</span></label>
                                                <input class="form-control form-control-lg" type="file" name="new_pro_image" required>
                                                <img src="../../../images/<%= product.pro_image %>" alt="product image" style="width:500px;height:250px;">
                                            </div>
                                            <input class="form-control form-control-lg" type="hidden" name="old_pro_image" value="../../../images/<%= product.pro_image %>">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <input type="submit" class="btn btn-danger" value="Update"></input>
                                        </div>
                                    </div>
                                </form>
                                <%
                             }) 
                            } else { %>
                                <h2>No result found</h2>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Product form ends -->
    </div>
    <?php

    ?>
</main>