<%- include('../partials/customer/top-bar') %>

<section id="home" class="home pt-5 overflow-hidden main">
    <div class="row mt-3 col-sm-8">
        error message
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="home-banner home-banner-1">
                    <div class="home-banner-text">
                        <h1>Fatafut Mangwaen</h1>
                        <h2>Home delivery application</h2>
                        <a href="#" class="btn btn-danger text-uppercase mt-4">Our Product</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="home-banner home-banner-2">
                    <div class="home-banner-text">
                        <h1>E-Shop</h1>
                        <h2>With Working Card & PayPal</h2>
                        <a href="all-business.php" class="btn btn-danger text-uppercase mt-4">Our Businesses</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <span class="ti-angle-left slider-icon"></span>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <span class="ti-angle-right slider-icon"></span>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<br>
<!--Cities Section-->
<div class="offers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline text-center mb5">
                    <h2 class="pb-3 mb-3 position-relative d-inline-block">Cities</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
                    <div class="row">
                        <%  if(city.length){ city.forEach((city)=>{ %>
                    <!--OfferBox-->
                    <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
                        <a href="#"></a>
                        <div class="offer-box text-center position-relative">
                            <div class="offer-inner">
                                <div class="offer-image position-relative overflow-hidden">
                                    <img src="static-images/karachi.jpg" alt="offers" class="img-fluid">
                                    <div class="offer-overlay"></div>
                                </div>
                                <div class="offer-info">
                                    <div class="offer-info-inner">
                                        <p class="heading-bigger text-capitalize fw-bold"><%= city.city_name %></p>
                                        <a href="/single-city/<%= city._id %>" class="btn btn-outline-danger " role="button" aria-pressed="true"><%= city.city_name %></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%
                })
            }else{ %>
                <h1>No city found</h1>
          <%  }
            %>                    <!--End-->
                    </div>
                   
    </div>
</div>
<!--Category Sec-->
<section id="category" class="category my-5 ">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1 class="text-center mb-3">Category</h1>
            </div>
        </div>
                    <div class="row d-flex justify-content-center">
                        <%  if(category.length){ category.forEach((category)=>{ %>
                    <div class="card card-style mx-4" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= category.cat_name %></h5>
                            <a href="/single-category/<%= category._id %>" class="btn btn-outline-primary">Explore</a>

                        </div>
                    </div>
                    <%
                })
            }else{ %>
                <h1>No category found</h1>
          <%  }
            %>       
                    </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="/all-categories" class="btn btn-primary">All Categories</a>
    </div>
</section>

<!-- Products-->
<section id="featured-products" class="featured-products">
    <div class="container">
        <div class="row">
            <div class="heading mb-4">
                <h1 class="text-center">Products</h1>
            </div>
        </div>
                    <div class="row d-flex justify-content-center">
                        <%  if(product.length){ product.forEach((product)=>{ %>
                    <div class="col-sm-4 mb-4 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="images/<%= product.pro_image %>" class="card-img-top" alt="product-image">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.pro_name %></h5>
                                <h5 class="card-title"><%= product.pro_price %>/Rs</h5>
                                <p class="card-text"><%= product.pro_desc %></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <% if(product.pro_addon){ %>
                                        <p><%= product.pro_addon.addon_name %></p>
                                        <h6 class="fw-bold"><%= product.pro_addon.addon_price %>/Rs</h6>
                                        <% } else{ %>
                                            <p>No addons</p>
                                            <% } %>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <% if(product.pro_attr){ %>
                                        <p><%= product.pro_attr.attr_name %></p>
                                        <h6 class="fw-bold"><%= product.pro_attr.attr_price %>/Rs</h6>
                                        <% } else{ %>
                                            <p>No Attributes</p>
                                            <% } %>
                                </li>
                            </ul>
                            <div class="card-body">
                                <a href="/single-product/<%= product._id %>" class="card-link"><%= product.pro_name %></a>
                                <a href="/single-business/<%= product._seller_id %>" class="card-link"><%= product.seller_id.business_name %></a>
                            </div>
                        </div>
                    </div>
                    <%
                })
            }else{ %>
                <h1>No products found</h1>
          <%  }
            %>
                    </div>
      
    </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <a href="/all-products" class="btn btn-primary">All Products</a>
    </div>
</section>
<!-- End Products -->
<!--Contact Sec-->
<section id="contact" class="contact">
    <div class="container-fluid bg-grey col-sm-9">
        <h2 class="text-center mb-4">CONTACT</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Pakistan</p>
                <!-- <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p> -->
                <p><span class="glyphicon glyphicon-envelope"></span> admin@gmail.com</p>
            </div>

            <div class="col-md-6">
                <form action="./controller-files/contact.php" method="post">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control mb-4" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control mb-4" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control mb-2" id="comments" name="comment" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button type="submit" class="btn btn-primary pull-right" name="contact">Contact</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<?php include './includes/footer-script.php';
include './includes/footer.php'; ?>