<%- include('../partials/customer/top-bar') %>

<section id="product" class="product">
  <div class="container my-5">
    <div class="card card-css my-5">
      <% if(product.length){ product.forEach((product)=>{ %>
      <div class="row my-5">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-images">
            <img
              src="/images/<%= product.pro_image %>"
              alt="product-image"
              width="430px"
              height="350px"
            />
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
          <input
            type="hidden"
            name="business_id"
            class="form-control"
            value="<%= product.seller_id._id %>"
            id="business_id"
          />
          <div class="content">
            <div class="h1">
              <h1><%= product.pro_name %></h1>
            </div>
            <div class="p">
              <p><strong>Description</strong><br /><%= product.pro_desc %></p>
            </div>
            <div class="h2">
              <h2 style="color: gray">
                <input
                  type="hidden"
                  value="<%= product.pro_price %>"
                  id="pprice"
                />
                <%= product.pro_price %>/Rs
              </h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between">
                <% if(product.pro_addon){ %>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    name="addon"
                    type="checkbox"
                    value="<%= product.pro_addon._id %>"
                    id="addon"
                  />
                  <label class="form-check-label">
                    <%= product.pro_addon.addon_name %>
                  </label>
                </div>
                <div>
                  <p><%= product.pro_addon.addon_price %>Rs</p>
                </div>
                <% } else{ %>
                <p>No addons</p>
                <% } %>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <% if(product.pro_attr){ %>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    name="attr"
                    type="checkbox"
                    value="<%= product.pro_attr._id %>"
                    id="attr"
                  />
                  <label class="form-check-label">
                    <%= product.pro_attr.attr_name %>
                  </label>
                </div>
                <div>
                  <p><%= product.pro_attr.attr_price %>Rs</p>
                </div>
              </li>
              <% } else{ %>
              <p>No Attributes</p>
              <% } %>
              <br />
              <% if(product.discount && product.discount.coupon_status ===
              false){ %>
              <li class="list-group-item d-flex justify-content-between">
                <div>
                  <p>Discount</p>
                </div>
                <div>
                  <input
                    type="hidden"
                    name="discount_ID"
                    class="form-control"
                    value="<%= product.discount._id %>"
                    id="discount"
                  />
                  <p>
                    <%= product.discount.coupon_name %> &nbsp; (<%=
                    product.discount.coupon_value %>/Rs)
                  </p>
                </div>
              </li>
              <% } %>
              <li class="list-group-item d-flex justify-content-between">
                <div>
                  <div class="form-floating">
                    <input
                      name="qty"
                      class="form-control"
                      type="number"
                      placeholder="Product Quantity"
                      value="1"
                      min="1"
                      id="qty"
                      required
                    />
                    <label for=" floatingInput">Quantity</label>
                  </div>
                </div>
              </li>
            </ul>
            <br />
            <% if(user){ %>
            <Button
              class="btn btn-outline-primary add_to_cart"
              type="submit"
              name="add_to_cart"
              data-product="<%= JSON.stringify(product) %>"
              >Add to cart</Button
            >
            <% } else{ %>
            <a class="btn btn-outline-primary" href="/customer-login"
              >Login to add to cart</a
            >
            <% } %>
          </div>
        </div>
      </div>
      <% }) } else { %>
      <h1 class="my-5">Product not found</h1>
      <% } %>
    </div>
  </div>
</section>
