<%- include('../../partials/admin/top-bar') %> <%-
include('../../partials/admin/sidebar') %>



<!-- Category table starts here -->
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <!-- page heading starts  -->
        <div class="page-heading">
            <div class="row">
                <% if(messages.error) { %>
                    <div class="row">
                    <div class="row col-4 text-center">
                    </div>
                    <div class="row col-6 text-center">
                        <div class='alert alert-danger' role='alert'><%= messages.error %></div>
                    </div>
                    <div class="row col-4 text-center">
                    </div>
                    </div>
                    <% } else if(messages.success){ %> 
                        <div class="row">
                            <div class="row col-4 text-center">
                            </div>
                            <div class="row col-6 text-center">
                                <div class='alert alert-success' role='alert'><%= messages.success %></div>
                            </div>
                            <div class="row col-4 text-center">
                            </div>
                            </div>
                    <% } %>  
            </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-1 mt-5">
                    <h1 class="h3 mb-0 text-gray-800">
                        <i class="bi bi-filter"></i>Categories
                    </h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Category
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- page heading ends  -->
        <!-- Category table starts here -->
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row" style="width: 100%">
                            <div class="col-8 mb-4 mb-lg-1">
                                <form class="d-flex ms-auto">
                                    <div class="input-group my-3 my-lg-0">
                                        <input type="text" id="searchCat" onkeyup="myFunction()" class="form-control" placeholder="Search Category" aria-label="Search Category" aria-describedby="button-addon2" />
                                        <button class="btn btn-primary" type="button" id="button-addon2">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-4 mb-3 mb-lg-0">
                                <div class="d-grid gap-2">
                                    <% if(user.role === 'seller'){  %>
                                        <a data-bs-toggle="modal" data-bs-target="#addCat" class="btn btn-primary btn-block" type="button">
                                            <i class="bi bi-plus-circle-fill"></i>
                                            Add Category
                                        </a>
                                 
                                </div>
                            </div>
                            <!-- add cat modal starts-->
                            <div class="modal fade" id="addCat" tabindex="-1" aria-labelledby="addCatLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addCatLabel">
                                                Add Category
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="/add-category" method="post" id="cat_form">
                                                        <input type="hidden" name="seller_id" value="<%= user._id %>">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-12">
                                                                <div class="mb-3">
                                                                    <div class="form-floating">
                                                                        <input name="cat_name" class="form-control" type="text" placeholder="Category Name" required />
                                                                        <label for="floatingInput">Category</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" value="Add_category" class="btn btn-primary">
                                                Save changes
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- add cat modal ends-->
                            <% } %>
                        </div>
                    </div>
                    <div class="card-body">
                            <div class="table-responsive" id="proTable">
                                <table class="table data-table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope='col'>#</th>
                                            <th scope='col'>Name</th>
                                            <!-- <th scope='col'>Number of products</th> -->
                                            <th scope='col'>Date</th>
                                            <th scope='col'>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(category.length){ var i = 1 %> <% category.forEach((category)=>{ %>
                                            <tr>
                                                <th scope="row"><%= i++ %></th>
                                                <td>
                                                    <%= category.cat_name %>
                                                </td>
                                                <!-- <td>
                                                    
                                                </td> -->
                                                <td><%= moment(category.createdAt).format('hh:mm A') %></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bi bi-gear-fill"></i>
                                                        </button>
                                                        <ul class="dropdown-menu shadow-lg rounded mt-1" aria-labelledby="dropdownMenuButton1">
                                                            <% if(user.role === 'seller') { %>
                                                                <li>
                                                                    <a class="dropdown-item btn" href='/edit-cat/<%= category._id %>'>Edit</a>
                                                                </li>
                                                          <% } %>
                                                          <li>
                                                            <a class="dropdown-item" href='/delete-cat/<%= category._id %>'>Delete</a>
                                                        </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %> <% } else { %>
                                                <tr>
                                                  <td colspan="6" class="h1 text-center">No Categories found</td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category table ends here -->
    </div>
</main>
<!-- category table ends here -->
<script>
    // search inside category table
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchCat");
        filter = input.value.toUpperCase();
        table = document.getElementById("proTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>