<%- include('../partials/admin/top-bar') %> <%-
include('../partials/admin/sidebar') %>

<!-- main page content starts here -->
<main class="mt-5 pt-3 main" style="padding-right: 1.5rem">
  <div class="container-fluid">
    <!-- page headings starts -->
    <div class="page-heading">
      <div class="row">
        <div
          class="d-sm-flex align-items-center justify-content-between mb-1 mt-5"
        >
          <% if(user){ %>
          <h1 class="h3 mb-0 text-gray-800 mb-3">
            Welcome <%= user.username %>
          </h1>
          <% } %>
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="bi bi-download fa-sm text-white-50"></i>Generate
                        Report</a> -->
        </div>
      </div>
    </div>
    <!-- page headings ends -->
    <!-- cards starts here -->
    <div class="row">
      <!-- Pending orders Card  -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Pending Orders
                </div>
                <% if(new_orders){ %>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <%= new_orders %>
                </div>
                <% } %>
              </div>
              <div class="col-auto">
                <i class="bi bi-cart-check"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Completed Card  -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-success text-uppercase mb-1"
                >
                  Completed Orders
                </div>
                <% if(processing_orders){ %>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <%= processing_orders %>
                </div>
                <% } else { %>
                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                <% } %>
              </div>
              <div class="col-auto">
                <i class="bi bi-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cancel Card  -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-danger text-uppercase mb-1"
                >
                  Cancelled Orders
                </div>
                <% if(cancelled_orders){ %>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <%= cancelled_orders %>
                </div>
                <% } else { %>
                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                <% } %>
              </div>
              <div class="col-auto">
                <i class="bi bi-bicycle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- order status table starts (6 - order) -->
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Orders</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table data-table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Order Id</th>
                    <th scope="col" class="text-center">Username</th>
                    <th scope="col" class="text-center">Payment Method</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Payment Status</th>
                    <th scope="col" class="text-center">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(orders.length){ var i = 1; orders.forEach((order)=>{ %>
                  <tr class="text-center">
                    <th scope="row" class="text-center"><%= i++ %></th>
                    <td class="text-center"><%= order._id %></td>
                    <td><%= order.customerId.username %></td>
                    <td class="text-center">cod</td>
                    <td class="text-center">
                      <% if(order.status === 'order_placed'){ %>
                      <p class="text-primary">Order Placed</p>
                      <% } else if(order.status === 'processing'){ %>
                      <p class="text-primary">Processing</p>
                      <% } else if(order.status === 'completed'){ %>
                      <p class="text-success">Completed</p>
                      <% } else if(order.status === 'cancelled') { %>
                      <p class="text-danger">Canceled</p>
                      <% } %>
                    </td>
                    <% if(order.payment_status === 'unpaid'){ %>
                    <td class="text-center text-danger">unpaid</td>
                    <% } else if(order.payment_status === 'paid'){ %>
                    <td class="text-center text-success">Paid</td>
                    <% } %>
                    <td class="text-center">
                      <%= moment(order.createdAt).format('YYYY-MM-DD hh:mm A')
                      %>
                    </td>
                  </tr>
                  <% }) } else { %>
                  <h2>No Latest Orders</h2>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- order status table ends (6 - orders) -->
  </div>
</main>
<!-- main page content ends here -->
