<%- include('../partials/admin/top-bar') %> <%-
include('../partials/admin/sidebar') %>

<main class="mt-5 pt-3" style="padding-right: 1.5rem">
    <div class="container-fluid">
        <!-- page heading starts  -->
        <div class="page-heading">
            <div class="row">
                <% if(messages.error) { %>
                    <div class="row">
                    <div class="row col-4 text-center">
                    </div>
                    <div class="row col-6 text-center">
                        <div class='alert alert-danger' role='alert'><%= messages.error %></div>
                    </div>
                    <div class="row col-4 text-center">
                    </div>
                    </div>
                    <% } else if(messages.success){ %> 
                        <div class="row">
                            <div class="row col-4 text-center">
                            </div>
                            <div class="row col-6 text-center">
                                <div class='alert alert-success' role='alert'><%= messages.success %></div>
                            </div>
                            <div class="row col-4 text-center">
                            </div>
                            </div>
                    <% } %>  
            </div>
                <div class="
                align-items-center
                mb-1
                mt-5
              ">
                    <h1 class="h3 mb-3 text-gray-800 text-center">
                        Update Business Details
                    </h1>

                </div>
            </div>
        </div>
        <!-- page heading ends  -->

        <!-- Register business form-->
        <div class="row justify-content-center">
            <div class="col-md-8 mb-5">
                <div class="card mb-5">
                    <div class="card-body">
                        <% seller.forEach((seller)=>{ %>
                                <form action="/update-business-profile" method="post" id="business_update_form">
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input type="hidden" name="seller_id" class="form-control" value="<%= seller._id %>">
                                                    <input name="fname" id="fname" class="form-control" type="text" placeholder="First Name" value="<%= seller.fname %>" required />
                                                    <label for="floatingInput">First Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="lname" id="lname" class="form-control" type="text" placeholder="Last Name" value="<%= seller.lname %>" required />
                                                    <label for="floatingInput">Last Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="username" id="username" class="form-control" type="text" placeholder="User Name" value="<%= seller.username %>" required />
                                                    <label for="floatingInput">Username</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="email" id="email" class="form-control" type="email" placeholder="Email" value="<%= seller.email %>" required />
                                                    <label for="floatingInput">Email</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="phone" id="phone" class="form-control" type="tel" placeholder="Phone" value="<%= seller.phone %>" required />
                                                    <label for="floatingInput">Phone</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="password" class="form-control" type="password" placeholder="Password" required />
                                                    <label for="floatingInput">Password</label>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="address" id="address" class="form-control" type="text" placeholder="Address" value="<%= seller.address %>" required />
                                                    <label for="floatingInput">Address</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-6">
                                            <div class="mb-3">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="role" disabled>
                                                    <option value="1">Seller</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input name="business_name" id="business_name" class="form-control" type="text" placeholder="Business Name" value="<%= seller.business_name %>" required />
                                                    <label for="floatingInput">Business Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <select class="form-select form-select-lg mb-3" size="3" aria-label=".form-select-lg example" name="business_city" id="business_city" required>
                                                    <option disabled>City: </option>
                                                    <% b_city.forEach(function(b_city){ %>
                                                    <%  if(JSON.stringify(seller.business_city) === JSON.stringify(b_city._id) ){
                                                        var selected = 'selected'
                                                          } else{
                                                            var selected = ''
                                                          }
                                                           %>
                                                    <option <%= selected %> value='<%= b_city._id %>'><%= b_city.city_name %></option>
                                                    <% }) %>
                                                </select>
                                                <input type="hidden" name="old_city" value="<?php echo $row['city']; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="business_type" id="business_type" required>
                                                    <option disabled>Business Type: </option>
                                                    <% business_type.forEach(function(business_type){ %>
                                                        <%  if(JSON.stringify(seller.business_type) === JSON.stringify(business_type._id) ){
                                                            var selected = 'selected'
                                                              } else{
                                                                var selected = ''
                                                              }
                                                               %>
                                                        <option <%= selected %> value='<%= business_type._id %>'><%= business_type.business_type_name %></option>
                                                        <% }) %>
                                                </select>
                                                <input type="hidden" name="old_business_type" value="<?php echo $row['business_Type']; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-3 col-md-12">
                                            <div class="mb-3">
                                                <select class="form-select form-select-lg mb-3" size="3" aria-label=".form-select-lg example" name="business_category" id="business_cat" required>
                                                    <option disabled>Business Category: </option>
                                                    <% business_category.forEach(function(business_category){ %>
                                                        <%  if(JSON.stringify(seller.business_category) === JSON.stringify(business_category._id) ){
                                                            var selected = 'selected'
                                                              } else{
                                                                var selected = ''
                                                              }
                                                               %>
                                                        <option <%= selected %> value='<%= business_category._id %>'><%= business_category.business_category_name %></option>
                                                        <% }) %>
                                                </select>
                                                <input type="hidden" name="old_business_cat" value="<?php echo $row['business_category']; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <!-- <div class="input-group mb-3">
                                            <div class="form-check">
                                                <% if(seller.table == 1 ){ %>
                                                    <input class="form-check-input" name="tbl_reserve" type="checkbox" value="1" checked>
                                                <% } else { %>
                                                    <input class="form-check-input" name="tbl_reserve" type="checkbox" value="1">
                                               <% } %>
                                                <label class="form-check-label">
                                                    Table reservation feature
                                                </label>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="row mb-4 ">
                                        <div class="col-sm-3 col-md-6">
                                            <input type="submit" id="submit" class="btn btn-danger" value="Update Business"></input>
                                        </div>
                                    </div>
                    </div>
                    </form>
                    <% }) %>
                </div>
            </div>
        </div>
        <!--Register business form ends -->
    </div>
    </div>


    </div>
</main>
